.deck-container-show{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.deck-image-show{
    margin-right: 10px;
}
.deck-title-show{
    font-size: 1rem;
    margin-bottom: 5px;
}


.active-watch > .deck-image-show > i{

}