.explore-input{
padding: 10px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border: 0.5px solid lightgray;
width: 500px;
}
.explore-btn{
    width: 40px;
    background-color: #3B82F6;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
}
.company-name{
    color:#3B82F6;
    
}

.explore-link{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.explore-details{
    background-color: transparent;
    color: #50b5ff;
}
#results_tb td{
    vertical-align: middle;
}
.company-pic{
    border-radius: 10px;
}